<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <style>
         .color{
            align-items: center;
            padding-top: 100px;
            padding-left: 250px;
            padding-right: 250px;
            
         }
    </style>
</head>
<body class="color">
     <h1 style="padding-left: 430px;">ABOUT</h1>
    <p>
    The quiz app is designed to provide users with an engaging platform to test their knowledge on various engineering subjects' basics. Users can explore quizzes covering fundamental concepts in disciplines such as Data structures, Object Oriented Programming, Computer organization, Operating system, Database management system and Computer networks.After completing each quiz, users can immediately view their scores, providing them with instant gratification and motivation to continue learning
    </p>
</body>
</html>

